/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

   /*<style xmlns="http://www.w3.org/2000/svg" type="text/css">*/
   @import url('http://fonts.googleapis.com/css?family=Audiowide');
   /*</style>*/

body{
  margin: 0;
  text-align: center;
  background-image: url(cover.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color: black;
  /*rgb(105, 185, 87)*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*top: 50px;*/
}

.nav-pics {
  height: 49px;
  margin-left: 10px;
}

.navbar-left{
  float: left;
  margin: 0px;
}

.navbar-right {
  float: right!important;
  margin: 0px;
  margin-right: 0px;
  display: flex;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  display: block;
}

ul li a {
  text-align: center;
  text-decoration: none;
  /*margin-left: 30px;*/
}

.navbar-brand{
  font-family: "Audiowide", bold;
  color: black !important;
  background-color: gainsboro;
}

.navbar-default{
  height: 51px
}

.navbar-default .navbar-nav>li>a{
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-weight: bold;
  font:
}

.navbar-form{
  margin-top: 10px;
  margin-left: 10px;
}

.img-responsive{
  display: inherit;
}

.hi-user{
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 20px;
  color: #777;
}

.container{
  width: 80%;
  margin-left: 10%;
  overflow: auto;
  background-color: rgba(250,250,250,0.8);
  height: 400px;
}

.leftcontainer{
  float:left;
  width: 250px;
  margin-left: 10%;
}

.rightcontainer{
  float:right;
  width: 400px;
  margin-right: 10%;
  margin-top: 5%
}

.search{
  margin-top: 10px;
  margin-left: 10px;
}

h2{
  font-size: 2vw;
  color: white;
  margin: 40px;
}
