<!-- Displays _suggestion partials for each suggestion favorited by the logged-in user
Each _suggestion partial also includes a button/link to unfavorite the suggestion -->

<h2>Your Favorite Nosh Ditties</h2>

<%= render partial: "suggestion" %>
