<!-- Displays _suggestion partials for the top 20 suggestions ranked by number of favorites -->

<h2>Search for food:</h2>
<%= form_tag(controller: "suggestions", action: "new_search", method: "post") do %>
  <div class="form-group">
    <%= text_field_tag "query"%>
  </div>
  <%= submit_tag"Update", class: 'btn-btn-primary' %>
<% end %>

<% unless @results[0] == "<" %>
  <%= render partial: "suggestion" %>
<% end %>
