<!-- Displays _suggestion partials for the top 20 suggestions ranked by number of favorites -->
<h2><%= "Top 20 Nosh Ditties in Seattle, WA" %> </h2>
<% unless @results[0] == "<" %>
  <%= render partial: "suggestion" %>
<% end %>
